.menu h1 {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2.5em;
}

.menu .buttons {
    height: 3em;
    display: flex;
    background-color: #2b2d42;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    border: solid 2px black;
    border-radius: 3px;
    

}

.menu input{
    border: black;
    border-radius: 10px;
    height: 3.3vh;

}

.menu a,li{
    background-color:transparent;
    color: #B4A5A5;
    border: none;
    font-size: 30px ;
    text-decoration: none;
    list-style: none;
    transition: .3s;
    
}

.menu a:hover{
    cursor: pointer;
    color: white;
}

.menu li:hover{
    cursor: pointer;
    color: white;

}

@media(max-width : 650px) {

    .menu a,li {

        font-size: 23px ;
        

    }

}





