.um {
    background-color: #2b2d42;
    color: whitesmoke;
    text-align: left;
    padding: 10%;
    align-content: center;
    margin: 2.5vh 7vh 7vh 7vh;
    border-radius: 40px;
    padding: 0.1vh 5vh 0vh 5vh;

}

.um .cabecalho .login h4 {
    font-size: 2.4rem;
}

.um .cabecalho h5 {

    font-size: 1.4rem;

}

.um form .dados {
    display: grid;

}

.um form label {

    font-size: 1.4rem;
}

.um form .dados_cliente {
    background-color: transparent;
    border-radius: 5px;
    border-color: whitesmoke;
    color: white;
    padding: 0.7%;
}

.um form input:focus {
    outline-color: yellow;
}

.um form .resto {
    display: grid;
    grid-template-columns: 4% 1fr 1fr;
    grid-template-rows: repeat(3, 35%);

}

.um form .resto label {
    align-self: center;
    padding-left: 1%;

}

.um form .resto button {
    grid-column: span 3;
    margin: 15px;
    border-radius: 10px;
    font-size: 1.4rem;
    background-color: red;
    color: white;
    font-weight: bold;
    transition: .3s;

}

.um form .resto button:hover {

    background-color: white;
    color: #ef233c;
    cursor: pointer;

}

.um form .resto h6 {
    grid-column: span 3;
    align-self: center;
    align-content: center;
    font-size: 1.4rem;
}


.um a {
    text-decoration: none;
    justify-self: center;
    align-self: center;
    font-size: 1.4rem;
    color: whitesmoke;
    border: solid 2px red;
    border-radius: 10px;
    padding: 0% 3% 0% 3%;
    transition: .3s;

}

.um a:hover {
    color: red;
    border: solid 2px white;
}


